@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}
@theme {
  --color-red: #a70606;
  --color-red-light: #db6a6a;
  --color-red-dev: #f5c2c2;
  --color-brown: #754f44;
  --color-gray: #a9a9a9;
  --color-black: #000000;
  --color-white: #ffffff;
  --font-balo: "Baloo 2", cursive;
}

body {
  font-family: "Quicksand", sans-serif;
}
::selection {
  background-color: var(--color-red-dev);
}

@layer components {
  .btn {
    @apply px-6 py-2 rounded-2xl border border-gray-600 bg-black text-white dark:bg-white dark:text-black shadow-sm  cursor-pointer transition duration-200 flex flex-col items-center justify-center  hover:bg-gray-100 dark:hover:bg-gray-900  hover:text-black dark:hover:text-white;
  }

  .btn-dark {
    @apply px-6 py-2 rounded-2xl border border-gray-600 bg-white text-black dark:bg-black dark:text-white shadow-sm  cursor-pointer transition duration-200 flex flex-col items-center justify-center  hover:bg-gray-900 dark:hover:bg-gray-100  hover:text-white dark:hover:text-black;
  }
  section {
    @apply relative transition-colors duration-600 dark:bg-black dark:text-white bg-white text-black p-8 py-20 pb-24;
  }
  .section-heading {
    @apply font-bold text-5xl sm:text-7xl font-balo text-slate-900 dark:text-gray-300 text-center opacity-0 translate-y-20 mb-0;
  }
  .sub-heading {
    @apply text-gray-400 font-balo font-medium text-xl -tracking-tighter text-center opacity-0 translate-y-20;
  }
}

::-webkit-scrollbar-track {
  background-color: #0c0c0c;
}
::-webkit-scrollbar-thumb {
  background-color: #3f3f3f;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #3f3f3f #0c0c0c;
  /*cursor: none !important;*/
}

.cursor {
    mix-blend-mode: difference;
    pointer-events: none;
    position: fixed;
    z-index: 9999;
}

.contact-tab {
  position: relative;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(
    90deg,
    var(--color-red) 0%,
    var(--color-red-light) 50%,
    var(--color-red) 100%
  );
  background-size: 200% auto;
  animation: shine 4s linear infinite;
}


@keyframes shine {
  0% {
    background-position: -200% center;
  }
  100% {
    background-position: 200% center;
  }
}
